extends layout

block content

  h1 Tic Tac Toe
  |   
  #board
    table
      tr#row1
        td#1.box
        |           
        td#2.box.border
        |           
        td#3.box
      |         
      tr#row2
        td#4.box.horizontal
        |           
        td#5.box.border.horizontal
        |           
        td#6.box.horizontal
      |         
      tr#row3
        td#7.box
        |           
        td#8.box.border
        |           
        td#9.box
