doctype html
html
head
  link(rel='stylesheet', type='text/css', href='/stylesheets/layout.css')
  |   
  meta(charset='UTF-8')
  |   
  title Tic Tac Toe
  body
    block content
    |   
    script(src='/javascripts/dom.js')
      |   
    script(src='/javascripts/logic.js')
